{
    "MANAGEMENT_GROUP_ID": "${management_group_id}",
    "SUBSCRIPTION_ID_MANAGEMENT": "${subscription_id_management}",
    "SUBSCRIPTION_ID_IDENTITY": "${subscription_id_identity}",
    "SUBSCRIPTION_ID_CONNECTIVITY": "${subscription_id_connectivity}",
    "SUBSCRIPTION_ID_SECURITY": "${subscription_id_security}",
    "LOCATION": "${location}",
    "NETWORK_TYPE": "${network_type}"
}
